<%= content_for :header do %>
  <%= image_tag('logo.png', class: 'h-4 m-3') %>
  <h1 class="">
    <%= name %>
  </h1>
<% end %>
<%= content_for :body do %>
  <%= form_tag token_recoveries_path(params.permit(:token_id)), method: :put, class: 'w-full' do %>
    <div class="w-full flex items-center flex-col pb-10 px-6 sm:px-10">
      <h2 class="text-2xl pt-8">
        <%= t '.header' %>
      </h2>
      <p class="text-secondary text-sm max-w-xs text-center mt-4">
        <%= t '.description', name: name %>
      </p>
      <label class="mt-3 w-full">
        <% if @new_password_message.present? %>
          <p class="input-label font-bold">
            <%= @new_password_message %>
          </p>
          <%= password_field_tag :new_password, nil, class: "login-input", autofocus: true %>
        <% else %>
          <p class="input-label">
            <%= t '.new_password' %>
          </p>
          <%= password_field_tag :new_password, nil, class: "login-input", autofocus: true %>
        <% end %>
      </label>
      <div class="flex w-full justify-end items-center mt-6">
        <%= submit_tag (t('.go_on')+' &rarr;').html_safe, class: 'button primary self-end' %>
      </div>
    </div>
  <% end %>
<% end %>
