<%= render partial: 'github' %>

<div class="px-6 flex flex-col items-center bg-gray-100 pb-20">
  <%= render partial: 'about/navigation' %>

  <%= image_tag 'logo.png', class: 'h-20 mt-10 sm:mt-16', alt: 'Logo' %>
  <h1 class="text-4xl sm:text-5xl font-black text-center mt-6 leading-tight">
    Authentication infrastructure for the internet. Just&nbsp;that.
  </h1>
  <p class="mt-10 text-left text-gray-700 text-xl sm:text-2xl sm:max-w-2xl sm:px-10 tracking-wide">
    <em><%= name %></em> is a protocol <em>and</em> a non-profit organisation running a single-sign-on platform implementing the protocol.

    We're just here to fix authentication for all of us. Nothing else.

    We promise!
  </p>
</div>


<%= render partial: 'for_who' %>

<%= render partial: 'status_quo' %>

<%= render partial: 'key_features' %>

<%= render partial: 'sections' %>

<%= render partial: 'try' %>

<%= render partial: 'about/navigation' %>

<hr class="w-2/3 m-auto mb-10 mt-8"/>

<%= render partial: 'shared/footer' %>
