<%= render partial: 'github' %>

<div class="px-6 flex flex-col items-center bg-gray-100 pb-20">
  <%= image_tag 'logo.png', class: 'h-20 mt-10 sm:mt-16', alt: 'Logo' %>
  <h1 class="text-4xl sm:text-5xl font-black text-center mt-6 leading-tight">
    Authentication as&nbsp;a&nbsp;service. Just&nbsp;that.
  </h1>
  <p class="mt-10 text-left text-gray-700 text-xl sm:text-2xl sm:max-w-2xl sm:px-10">
    Promise is a global single-sign-on identity provider with privacy at heart. 
    No personal data will be stored anywhere nor shared with anyone. We promise!
  </p>
</div>

<%= render partial: 'for_who' %>

<%= render partial: 'status_quo' %>

<%= render partial: 'key_features' %>

<%= render partial: 'sections' %>

<%= render partial: 'try' %>

<%= render partial: 'about/navigation' %>

<hr class="w-2/3 m-auto mb-10 mt-8"/>

<%= render partial: 'shared/footer' %>
