<%= content_for :body do %>
  <%= form_tag registrations_path(registration_configuration(:email)), class: 'w-full' do %>
    <div class="w-full flex items-center flex-col">
      <div class="flex flex-row justify-between border-b pb-3 mb-5 w-full pt-8 items-center">
        <h2 class="text-lg text-primary font-bold leading-none">
          <%= relying_party&.name ? t('.login_at_html', name: relying_party.name) : t('.login') %>
        </h2>
        <a href="javascript:void(toggleDescription());" class="flex flex-row items-center space-x-1">
          <%= image_tag('logo.png', class: 'h-4') %>
          <span class=" bg-clip-text text-transparent bg-gradient-to-t from-blue-900 to-blue-500 tracking-tight text-base font-bold">
            Promise
          </span>
        </a>
      </div>
      <% if relying_party %>
        <p class="block text-primary w-full">
          <%= t '.enter_credentials_html', name: relying_party&.name || name %>
        </p>
      <% end %>
      <div class="w-full flex flex-col bg-blue-50 px-4 rounded-lg mt-6 pb-4 shadow relative">
        <p class="absolute w-8 h-8 rounded-full bg-blue-50 -top-3 left-1/2 -translate-x-1/2 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 text-blue-700/20">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
          </svg>
        </p>
        <label class="w-full mt-8">
          <p class="input-label">
            E-mail
          </p>
          <%= email_field_tag :email, registration_configuration[:email], class: 'login-input', autofocus: true, required: true, tabindex: 1 %>
          <p class="text-secondary text-xs mt-1">
            <%= t '.we_save_no_data_html' %>
          </p>
        </label>
        <div class="mt-4 flex w-full flex-col justify-end items-end">
          <%= submit_tag (t('.go_on')+' &rarr;').html_safe, class: 'button primary mt-2 appearance-none', tabindex: 1, data: { 'disable-with' => t('.going_html') } %>
        </div>
      </div>
      <% if relying_party %>
        <p class="mt-8 text-secondary  text-sm">
          <%= t '.no_sharing_html', relying_party_name: relying_party.name %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
