<%= content_for :body do %>
  <%= form_tag verify_human_registrations_path(registration_configuration), class: 'w-full flex-1' do %>
    <div class="w-full flex items-center flex-col pb-10 px-6 sm:px-10">
      <div class="flex flex-1 flex-row justify-between border-b pb-3 mb-5 w-full pt-8 items-center">
        <h2 class="text-base sm:text-lg text-primary font-bold leading-none">
          <%= relying_party&.name ? t('.login_at_html', name: relying_party.name) : t('.login') %>
        </h2>
        <a href="javascript:void(toggleDescription());" class="flex flex-row items-center space-x-1">
          <%= image_tag('logo.png', class: 'h-4') %>
          <span class=" bg-clip-text text-transparent bg-gradient-to-t from-blue-900 to-blue-500 tracking-tight text-base font-bold">
            Promise
          </span>
        </a>
      </div>
      <div class="w-full flex flex-col mt-6 pb-4">
        <div class="w-full h-24 flex items-center justify-center">
          <%= turnstile_tag_html %>
        </div>
        <div class="flex w-full justify-end items-center mt-6">
          <%= link_to '&larr; '.html_safe + t('.cancel'), new_registration_path(registration_configuration), class: 'text-secondary pr-3' %>
          <%= submit_tag (t('.go_on')+' &rarr;').html_safe, class: 'button primary self-end' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

