<%= content_for :body do %>
  <%= form_tag verify_human_registrations_path(registration_configuration), class: 'w-full flex-1' do %>
    <div class="w-full flex items-center flex-col">
      <div class="flex flex-1 flex-row justify-between border-b pb-3 mb-5 w-full pt-8 items-center">
        <h2 class="text-lg text-primary font-bold leading-none">
          <%= t('.title', email: registration_configuration[:email]) %>
        </h2>
        <a href="javascript:void(toggleDescription());" class="flex flex-row items-center space-x-1">
          <%= image_tag('logo.png', class: 'h-4') %>
          <span class=" bg-clip-text text-transparent bg-gradient-to-t from-blue-900 to-blue-500 tracking-tight text-base font-bold">
            Promise
          </span>
        </a>
      </div>
      <% if relying_party %>
        <p class="w-full block text-primary">
          <%= t('.description_html', name: relying_party.name) %>
        </p>
      <% end %>
      <p class="mt-2 w-full">
        <%= t('.confirm_email_html', email: registration_configuration[:email]) %>
      </p>
      <div class="w-full flex flex-col mt-6 pb-4">
        <div class="w-full h-24 flex items-center justify-end">
            <script>
              function onSuccess(token) {
                document.getElementById('submit_button').disabled = false;
                // Remove class that makes it look disabled
                document.getElementById('submit_button').classList.remove('opacity-50');
                document.getElementById('submit_button').classList.remove('scale-0');
              }
            </script>
          <%= turnstile_tag_html %>
        </div>
        <div class="flex w-full justify-end items-center mt-0">
          <%= back_to(registration_configuration) do |args| new_registration_path(args) end %>
          <%= submit_tag (t('.go_on')+' &rarr;').html_safe, disabled: true, class: 'button primary opacity-50 scale-0 transition-all', tabindex: 1, data: { 'disable-with' => t('.going_html') }, id: "submit_button" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

