<% unless relying_party.present? %>
  <div class="flex flex-col items-center mt-4">
    <% if logged_in? %>
      <p class="text-center text-secondary">
        <%= link_to t('.logged_in_as_html', email: current_user.email), dashboard_path %>
      </p>
      <%= button_to t('.logout'), logout_path, method: :delete, class: "button small transparent mb-4 mt-1 appearance-none" %>
    <% else %>
      <%= link_to t('.login'), login_path, class: "button small transparent mb-4 mt-1" %>
    <% end %>
  </div>
<% end %>

<div class="flex w-full justify-center items-center mt-4">
  <% I18n.available_locales.each do |locale| %>
    <% locale_name = I18n.with_locale(locale) { t('locale_name') } %>
      <% if I18n.locale == locale %>
        <span class="text-secondary block p-3 font-bold">
          <%= locale_name %>
        </span>
      <% else %>
        <%= link_to locale_name, url_for( params.clone.permit!.merge(locale: locale, only_path: true )), class: "text-secondary block p-3", data: {turbolinks: false} %>
      <% end %>
  <% end %>
</div>

<footer class="text-center text-xs text-secondary mt-3 mb-6">
  <span class="tracking-wide">
    <%= link_to name, root_path %> - 2025
    <% if logged_in? && !relying_party %>
      - <%= link_to t('.change_password'), edit_password_path, class: 'underline' %>
    <% end %>
  </span>
</footer>
