<%= javascript_pack_tag 'charts', 'data-turbolinks-track': 'reload' %>
<div class="max-w-2xl px-6 m-auto space-y-10 markdown">
  <h1 class="text-center mt-24 text-2xl">
    Admin dashboard for <%= relying_party.name %>
  </h1>
  <% if relying_party.administratable?(current_user_id) %>
    <h2 class="">
      Sign ins on <%= relying_party.id %> (by hour):
    </h2>
    <%= line_chart Statistics::SignInEvent.where("created_at > ? AND relying_party_id = ?", 2.month.ago, relying_party.id).group_by_hour(:created_at).count %>
  <% else %>
    <p>
      You can not see this. To get access, make sure your Promise user ID is added to the well knowns on your domain: <%= relying_party.well_known_url %>
    </p>
    <p>
      It should contain this:
    </p>
    <pre><code><%= JSON.pretty_generate( {admin_user_ids: [current_user_id]}) %></code></pre>
  <% end %>
  <p>
    Your configuration fetched from <%= relying_party.well_known_url %>:
  </p>
  <pre><code><%= JSON.pretty_generate(relying_party.well_knowns) %></code></pre>
  <p>
    It might be cached. Here are the headers.
  </p>
  <pre><code><%= JSON.pretty_generate(relying_party.http_headers) %></code></pre>
</div>
