<%= image_tag(admin_relying_party.logo_data, alt: "#{admin_relying_party.name}", class: "w-20 m-auto") if admin_relying_party.logo_data.present? %>

<h1>
  <% if admin_relying_party.id == 'example.com' %>
    How to implement <%= name %> on your site
<% else %>
  How to implement <%= name %> on <%= admin_relying_party.name_html %>
<% end %>
</h1>
<% if admin_relying_party.administratable?(current_user.id) %>
  <div class="-ml-4 -mr-4 p-4 bg-red-200">
    <h2 class="text-center p-3 rounded -mt-10 bg-red-900 text-white">
      Admin area
    </h2>
    <p class="">
      You can only see this because you are an admin on <%= admin_relying_party.name %>.
    </p>
    <h2>
      Sign ins on <%= admin_relying_party.id %>:
    </h2>

    <h2>
      Secret key
    </h2>
    <p>
      The secret key for accessing eg. the email endpoints is:
    </p>
    <pre><code><%= admin_relying_party.secret_key_base64 %></code></pre>
  </div>
<% end %>

<p>
  <%= name %> uses a simplified version of the Implicit Flow in the protocol <%= link_to 'OpenID Connect (OIDC)', 'https://openid.net/specs/openid-connect-core-1_0.html' %>.
</p>
<% if admin_relying_party.id == 'example.com' %>
  <p class="">
    The following guide uses <code><%= admin_relying_party.id %></code> as <code>client_id</code>. Your <code>client_id</code> should be the shortest possible domain name you control.
  </p>
<% end %>

<h2>
  Sign in users
</h2>

<p>
  To sign in users, redirect them to
</p>

<% nonce = SecureRandom.uuid.first(8) %>
<pre><code><%= login_with_relying_party_url(client_id: admin_relying_party.id, nonce: nonce ) %></code></pre>

<p>
  The <code>nonce</code> is a randomly generated string that enables protection against replay attacks.
</p>
<p>
  Please notice that the <code>client_id</code> is part of the URI. The other <%= link_to 'Authentication Request parameters', '#authentication_request' %> are supplied as URL query parameters. Eg. <code>?nonce=abc</code>.
</p>

<p>
  Now, <%= name %> will take care of authentication and redirect the user back to 
</p>

<pre><code><%= admin_relying_party.redirect_uri(id_token: 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c'.truncate(10), login_configuration: {}) %></code></pre>

<p>
  The <code>id_token</code> will be a JWT looking like this:
</p>
<pre><code><%= JSON.pretty_generate Authentication::IdToken.new(sub: 'unique-user-id', aud: admin_relying_party.id, jti: SecureRandom.uuid, nonce: nonce).payload %></code></pre>
<p>
  When receiving the <code>id_token</code>, you have to
</p>
<ol>
  <li>
    Validate that the <code>nonce</code> is not replayed.
  </li>
  <li>
    validate that the token actually came from <%= name %>, by using the public key available at
    <pre><code>https://promiseauthentication.org/.well-known/jwks.json</code></pre>
  </li>
</ol>
<p>
  You can do that by using your preferred JWT library. <%= link_to 'Find yours here', 'https://jwt.io' %>.
</p>
<p>
  When you have validated the JWT, you <strong>must</strong> identify the user by concatenating <strong>both</strong> <code>iss</code> <strong>and</strong> <code>sub</code>. For example:
</p>
<pre><code>https://promiseauthentication.org|unique-user-id</code></pre>
<p>
  This is important as this enables <%= name %> in the future to delegate the responsibility of authentication to a provider chosen by the user.
</p>
<p>
  Please notice that the users e-mail is <strong>not</strong> included in the JWT. This is by design. If you need an e-mail, or any other personal data belonging to the user, you will have to get that yourself by asking nicely.
</p>

<h2>
  <a name="authentication_request">Authentication Request</a>
</h2>
<p>
  The Authentication Request used in the implementation on <%= name %> differs a bit from the <%= link_to 'general specification of the Authentication Request', 'https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest' %> and the <%= link_to 'specification of Authentication Requests specifically for the Implicit Flow', 'https://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthRequest' %>.
</p>
<p>
  The parameters <code>scope</code> and <code>response_type</code> are ignored as they do not convey anything meaningful in the implementation used at <%= name %>. <code>response_type</code> is always <code>"id_token"</code>.
</p>
<dl class="mt-8">
  <% [
    ['client_id', 'REQUIRED', 'REQUIRED', nil, "This is the domain. Be advised, that the same user will get a different user identifier (<code>sub</code>) for each <code>client_id</code>. So you should pick your <code>client_id</code> to be the shortest possible domain you control.", admin_relying_party.id],
    ['redirect_uri', 'REQUIRED', 'OPTIONAL', "\"#{admin_relying_party.default_redirect_uri}\"", "If you want to redirect the user to anywhere else than the default provide the URI here. You will have to whitelist the <code>redirect_uri</code> in the <code>allowed_redirect_domain_names</code> in the #{link_to 'configuration', '#configuration'}."],
    ['nonce', 'REQUIRED', 'OPTIONAL', nil, "As #{name} also includes a <code>jti</code> in the generated token, requiring a nonce is not the only possible way to mitigate replay attacks."]
  ].each do |row| %>
  <div class="<%= cycle('bg-gray-200', 'bg-gray-100') %> -ml-3 -mr-3 p-3 pb-5 m-0">
    <dt class="font-mono font-bold"><%= row[0] %></dt>
    <dd class="ml-3 sm:ml-10 "><%= row[2] %><span class="text-gray-500"> <%= row[1] == row[2] ? '' : "but #{row[1]} in specification" %></span></dd>
    <dd class="ml-3 sm:ml-10 pt-3"><%= row[4].html_safe %></dd>
    <% if row[3] %>
      <dd class="ml-3 sm:ml-10 pt-3 break-all"><span class="text-secondary">Default:</span> <%= row[3] %></dd>
    <% end %>
    <% if row[5] %>
      <dd class="ml-3 sm:ml-10 pt-3 break-all"><span class="text-secondary">Example:</span> <%= row[5] %></dd>
    <% end %>
  </div>
<% end %>
</dl>
<p>
  The following parameters is not implemented yet:
  <%= %w{max_age ui_locales login_hint acr_values}.map do |param|
    "<code>#{param}</code>"
  end.join(', ').html_safe %>.
</p>
<p>
  The following parameters will probably never be implemented:
  <%= %w{response_mode display prompt id_token_hint}.map do |param|
    "<code>#{param}</code>"
  end.join(', ').html_safe %>.
</p>


<h2>
  <a name="configuration">Configuration of <%= name %></a>
</h2>
<p>
  <%= name %> can be configured by <%= admin_relying_party.name %> by providing a JSON object on
</p>
<pre><code><%= admin_relying_party.well_known_url %></code></pre>

<h3>
  Configurable attributes
</h3>

<dl class="mt-8">
  <% [
    ['admin_user_ids', 'Array<String>', '["a", "b"]', "An array of user IDs you want to have admin access here on #{name}."],
    ['allowed_redirect_domain_names', 'Array<String>', "[\"a.#{admin_relying_party.id}\"]", "A list of domain names that #{name} will allow as <code>redirect_uri</code>. This list does not have to include the default <code>redirect_uri</code>. Also be aware that <code>localhost</code> and <code>127.0.0.1</code> is allowed by default, so no need to add that. You can also provide IP addresses."],
    ['locale', 'String', '"da"', 'The locale preferred, if the user has not chosen a locale. Currently "da" and "en" are supported.'],
    ['logo_url', 'String', "\"https://#{admin_relying_party.id}/logo.png\"", 'An URL for a logo. Will be shown to users on sign in screens. The logo will be downloaded on the server and sent to the client as Base64 encoded data. This is to protect the user from potential tracking.'],
    ['name', 'String', '"Nice app"', 'The name of the app or service. Will be shown on login screens.'],
  ].each do |row| %>
  <div class="<%= cycle('bg-gray-200', 'bg-gray-100') %> -ml-3 -mr-3 p-3 m-0">
    <dt class="font-mono font-bold"><%= row[0] %> <span class="text-secondary font-normal">(<%= row[1] %>)</span></dt>
    <dd class="ml-3 sm:ml-10 py-3"><%= row[3].html_safe %></dd>
    <dd class="ml-3 sm:ml-10 text-secondary break-all">Example: <%= row[2] %></dd>
  </div>

</dl>

      <% end %>

<h3>
  Current configuration for <%= admin_relying_party.name %>
</h3>
<p>
  When fetching from
</p>
<pre><code><%= admin_relying_party.well_known_url %></code></pre>
<p>
  we get
</p>
<pre><code><%= raw JSON.pretty_generate(admin_relying_party.well_knowns) %></code></pre>

<p>
  <%= name %> caches the JSON based on the HTTP headers:
</p>

<pre><code><%= raw JSON.pretty_generate(admin_relying_party.http_headers || {}) %></code></pre>

<p>
  The configuration is needed everytime we show a sign in screen for <%= admin_relying_party.name %> to a user, so allowing <%= name %> to cache it seems sensible.
  Suggested headers include <code>Etag</code> and <code>Cache-Control: public, must-revalidate, max-age=300</code>. But that would be your call.
</p>


<h3>
  Admin
</h3>
<p>
  If <em>you</em> want to become an admin for <%= admin_relying_party.name %>, you can add your <%= name %> user ID to the <%= link_to "#{admin_relying_party.name} configuration of #{name}", '#configuration' %>:
</p>
<pre><code>{
  &hellip;
  admin_user_ids": [
    "<%= current_user.id || 'your-user-id-on-promise' %>"
  ],
  &hellip;
}</code></pre>
<% if !current_user.id %>
<% else %>
  <p class="text-center mt-10">
    Yes, <em>your</em> user ID on <%= name %> with <strong><%= current_user.email %></strong> is
  </p>
  <p class="text-center"><code class="bg-gray-800 text-white p-2 rounded inline-block mt-3"><%= current_user.id %></code></p>
<% end %>

<p class="text-center mt-24">
  ✨ That's it (for now)! ✨
</p>
