<h2 class="text-2xl pt-8">
  Choose identity
</h2>
<p class="text-gray-600 text-sm max-w-xs text-center mt-1 mb-8">
  <% if relying_party %>
    You will be redirected to <%= relying_party.name %>
  <% else %>
    This is where you login to your dashboard on <%= name %>.
  <% end %>
</p>

<% if relying_party %>
  <% if personal_data.id_for(relying_party.id) %>
    <%= link_to "#{personal_data.id_for(relying_party.id) || 'Create new identity'}", go_to_path(login_configuration), class: "w-full text-center py-4 px-2 border-b hover:bg-gray-100" %>

    <%= link_to "Create new identity", go_to_path(login_configuration), class: "w-full text-center py-4 px-2 border-b hover:bg-gray-100" %>
  <% else %>
    <%= link_to "Create your new identity", go_to_path(login_configuration), class: "w-full text-center py-4 px-2 border-b hover:bg-gray-100" %>
  <% end %>
<% else %>
  <%= link_to "Go to dashboard", dashboard_path, class: "w-full text-center py-4 px-2 border-b hover:bg-gray-100" %>
<% end %>

<%= link_to "Use another account", login_path(login_configuration.merge({force: true})), class: "w-full text-center py-4 px-2 hover:text-gray-700 text-gray-500 mt-4 mb-4" %>

