<%= content_for :header do %>
  <% if relying_party.present? %>
    <% if relying_party.logo_url.present? %>
      <div class="flex-grow flex items-center justify-center">
        <%= image_tag(relying_party.logo_url, class: 'h-6 m-3') %>
      </div>
    <% else %>
      <%= image_tag('logo.png', class: 'h-4 m-3') %>
      <h1 class="text-gray-600">
        <%= name %>
      </h1>
    <% end %>
  <% else %>
    <%= image_tag('logo.png', class: 'h-4 m-3') %>
    <h1 class="text-gray-600">
      <%= name %>
    </h1>
  <% end %>

<% end %>
<%= content_for :body do %>
    <div class="w-full flex items-center flex-col pb-10 px-6 sm:px-10">
      <h2 class="text-2xl pt-8 text-center leading-tight">
        <%= t '.sign_in_on_html', relying_party_name: relying_party.name %>
      </h2>
      <p class="text-gray-600 text-sm max-w-xs text-center mt-3">
        <%= t '.you_are_html', email: email, name: name %>
      </p>
      <%= button_to go_to_path(login_configuration), class: "button primary my-10 flex items-center justify-center", autofocus: true do %>
        <span class="text-center">
          <% if relying_party.supports_legacy_accounts? && personal_data.id_for(relying_party.id).blank? %>
            <%= t('.create_account_html', relying_party_name: relying_party.name) %>
          <% else %>
            <%= t('.go_to_html', relying_party_name: relying_party.name) %>
          <% end %>
        </span>
        <span class="ml-3">
          &rarr;
        </span>
      <% end %>

      <% if relying_party.supports_legacy_accounts? && personal_data.id_for(relying_party.id).blank? %>
      <% end %>

      <div class="flex flex-col items-center">
        <span class="text-gray-600">
          <%= t '.not_you_html', email: email %>
        </span>
        <%= button_to t('.logout'), relogin_path(login_configuration), method: :delete, class: "button transparent small mt-2" %>
      </div>


      <% id = personal_data.id_for(relying_party.id) %>
      <p class="mt-8 text-gray-600 text-sm" style="cursor:help;" title="<%= id.present? ? t('.your_id', id: id, relying_party_name: relying_party.name) : t('.no_id_yet', relying_party_name: relying_party.name) %>">
        <%= t '.no_sharing_html', relying_party_name: relying_party.name %>
      </p>
    </div>
<% end %>
