<%= content_for :header do %>
  <%= image_tag('logo.png', class: 'h-4 m-3') %>
  <% if relying_party&.logo_url %>
    <div class="flex-grow flex justify-between items-center">
      <span class="text-gray-600">
        <%= t '.sign_in_with_html', name: name %>
      </span>
      <%= image_tag(relying_party.logo_data, class: 'h-6 my-3 mr-3') %>
    </div>
  <% else %>
    <h1 class="text-gray-600">
      <%= name %>
    </h1>
  <% end %>
<% end %>
<%= content_for :body do %>
  <%= form_tag authenticate_path(login_configuration), class: 'w-full' do %>
    <div class="w-full flex items-center flex-col pb-10 px-6 sm:px-10">
      <h2 class="text-2xl pt-8">
        <%= t '.login' %>
      </h2>
      <p class="text-gray-600 text-sm max-w-xs text-center mt-4">
        <%= t '.enter_credentials_html', name: name %>
        <% if relying_party %>
          <%= t '.you_will_be_redirected_html', relying_party_name: relying_party.name %>
        <% else %>
          <%= t '.redirect_to_dashboard' %>
        <% end %>
      </p>
      <label class="w-full mt-8">
        <p class="input-label">
          E-mail
        </p>
        <%= email_field_tag :email, @auth_request.email, class: 'login-input', autofocus: !flash[:password_message].present?, placeholder: flash[:email_message] %>
      </label>
      <label class="mt-3 w-full">
        <% if flash[:password_message].present? %>
          <p class="input-label font-bold">
            <%= flash[:password_message] %>
          </p>
          <%= password_field_tag :password, nil, class: "login-input", autofocus: true %>
          <%= link_to t('.forgot_password'), new_password_path(login_configuration), class: "float-right text-sm mt-1 #{flash[:password_message] ? 'text-gray-700 font-bold' : 'text-gray-500 '}" %>
        <% else %>
          <p class="input-label">
            Password
          </p>
          <%= password_field_tag :password, nil, class: "login-input" %>
        <% end %>
      </label>
      <label class="flex justify-start items-center w-full mt-4">
        <%= check_box_tag :remember_me, nil, flash[:remember_me] %>
        <span class="ml-2 text-gray-900">
          <%= t('.remember_me') %>
        </span>
      </label>
      <div class="flex w-full justify-end items-center mt-3">
        <p class="text-gray-600 text-sm text-right mr-3">
          <%= t '.we_save_no_data' %>
        </p>
        <%= submit_tag (t('.go_on')+' &rarr;').html_safe, class: 'button primary' %>
      </div>
      <% if relying_party %>
        <p class="mt-8 text-gray-600 text-sm">
          <%= t '.no_sharing_html', relying_party_name: relying_party.name %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
