<%= content_for :header do %>
  <%= image_tag('logo.png', class: 'h-4 m-3') %>
  <h1 class="text-gray-500">
    <%= name %>
  </h1>
<% end  %>
<%= content_for :body do %>
  <div class="w-full flex items-center flex-col pb-10 px-6 sm:px-10">
    <h1 class="mt-8 text-2xl">
      <%= t '.choose_application' %>
    </h1>
    <p class="text-gray-600 text-sm max-w-xs text-center mt-1">
      <%= t '.explain_choosing' %>
    </p>
    <% if @relying_parties.any? %>
      <div class="w-full flex items-center flex-col pb-10 mt-8">
        <% @relying_parties.each do |rp| %>
          <a href="<%= confirm_path(aud: rp.id) %>" class="border-b w-full py-3 hover:bg-gray-200 flex justify-center items-center">
            <% if rp.logo_url %>
              <%= image_tag rp.logo_url, class: 'h-4 mr-2' %>
            <% end %>
            <span>
              <%= rp.name %> &rarr;
            </span>
          </a>
        <% end %>
      </div>
    <% else %>
      <p class="my-16 text-center text-gray-400 mx-6 border-b p-2">
        <%= t '.no_relying_parties' %>
      </p>
    <% end %>
  </div>
<% end  %>
