
<%= content_for :header do %>
  <%= image_tag('logo.png', class: 'h-4 m-3') %>
  <h1 class="text-secondary">
    <%= name %>
  </h1>
<% end %>
<%= content_for :body do %>
  <div class="w-full flex items-center flex-col">
    <h2 class="text-2xl pt-8">
      <%= t '.header' %>
    </h2>
    <p class="text-secondary text-sm max-w-xs text-center mt-4">
      <%= t '.description', name: name %>
    </p>

    <p class="mt-10">
      <%= link_to '&larr; '.html_safe + t('.back'), login_path(login_configuration), class: 'button primary' %>
    </p>
  </div>
<% end %>

