<div class="px-4 flex items-center">
  <ul class="font-medium text-secondary flex justify-center w-full flex-col items-center">
    <div class="flex justify-center items-center">
      <li class="h-100">
        <%= link_to image_tag('logo.png', class: 'h-6 sm:h-8 my-2 mx-4'), root_path %>
      </li>
    </div>
    <div class="flex flex-wrap justify-center items-center">
      <div class="flex justify-center items-center">
        <%= navigation_link 'Getting started', admin_relying_parties_path %>
        <%= navigation_link 'Security', about_data_path %>
      </div>
      <div class="flex justify-center items-center">
        <%= navigation_link 'Pricing', about_pricing_path %>
        <%= navigation_link 'Open', about_open_path %>
        <%= navigation_link 'About', about_motivation_path %>
      </div>
    </div>
  </ul>
</div>
