<h1>
  Comparing Promise
</h1>

<style>
  table.comparison td:first-child {
    font-weight: bold;
    text-align: left;
    padding-left: 0.5rem;
  }
</style>
<table class="table-fixed text-center w-full comparison">
  <thead class="text-xs md:text-sm">
    <tr class="leading-none">
      <th class="w-16 sm:w-24 md:w-40"></th>
      <% @order_of_attributes.each do |attribute| %>
        <th class="<%= cycle("align-bottom pb-3", "align-top sm:align-bottom pb-10 sm:pb-3") %>"><%= {
          sso: 'SSO',
          non_profit: 'Non-profit',
          pseudonymous: 'Pseudo&shy;nymous',
          private: 'Private',
          decentralised: 'Decen&shy;tralised',
          centralised: 'Cen&shy;tralised',
          nothing_to_learn: 'Nothing to&nbsp;learn',
          open_source: 'Open source'
        }[attribute].html_safe %></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="text-xs sm:text-sm">
    <% @order_of_providers.each do |provider| %>
      <tr class="<%= cycle('bg-gray-100', 'bg-white') %>">
        <td>
          <%= provider %>
        </td>
        <% @order_of_attributes.each do |attribute| %>
          <% value = @providers[provider][attribute] %>
          <% if value.nil? %>
            <%= render partial: 'dunno' %>
          <% elsif value %>
            <%= render partial: 'yes' %>
          <% else %>
            <%= render partial: 'no' %>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

