<h1>
  Your data is safe with us.
</h1>
<p>
  Here you can read about how data is stored on <%= name %>. All data shown is actual data from the production database.
</p>
<h2>
  Email
</h2>
<p>
  If, for example, you use e-mail <%= @email %> to sign in to <%= name %>. We represent that e-mail on our servers like this:
</p>
<pre><code><%= Authentication::HashedEmail.from_cleartext(@email) %></code></pre>
<p>
  This is the combined SHA-256 and BLAKE2b. That means that your e-mail is not even persisted in a format that can be decrypted and reveal your actual e-mail.
</p>
<p>
  To show your e-mail in the browser it is also stored in an encrypted cookie in your browser. his is not stored on the server.
</p>
<h2>
  Vault
</h2>
<p>
  All your data, i.e. your identitifiers for relying parties, are stored in a vault.
</p>
<p>
  Here is a Base64 encoded example of vault data:
</p>
<pre><code><%= Base64.encode64 @vault_content.encrypted_personal_data %></code></pre>
<p>
  This data is encrypted with a secret key known only by you. Here is an example:
</p>
<pre><code><%= @auth.vault_key %></code></pre>
<p>
  This is stored in an encrypted cookie as well. I.e. it is not stored on the server.
</p>
<p>
  You can use that key to decrypt the vault content giving this:
</p>
<pre><code><%= JSON.pretty_generate @personal_data.to_h %></code></pre>
<h2>
  Recovery
</h2>
<p>
  In order to be able to recover your account, i.e. reset password, we have to keep an encrypted version of your vault key. This is encrypted using public key encryption. It looks like this:
</p>
<pre><code><%= @vault_key_for_recovery.vault_key_cipher_base64 %></code></pre>
<p>
  As mentioned, this is encrypted using a private and public key. To decrypt, you'll need the corresponding public and private keys.
</p>
<p>
  The private key used to decrypt, is currently kept in a safe place that only I, Anders Lemke-Holstein, knows about.
</p>
<p>
  The public key, is kept in the production database.
</p>
<p>
  If you do not want your account to be recoverable, all that has to be done, is to delete that public key.
</p>
