<%= content_for :content do %>
  <div class="p-5 md:px-8 text-base sm:text-lg m-auto max-w-lg">
    <div class="m-auto w-6 mb-4">
      <%= link_to image_tag('logo'), root_path, title: 'PROMISE' %>
    </div>
    <%= render partial: 'navigation' %>
    <div class="markdown mb-12">
      <%= yield %>
    </div>
    <%= render partial: 'navigation' %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
