<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="Description" content="<%= t '.meta_description', name: name %>">

    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    <link rel="icon" type="image/png" sizes="180x180" href="<%= image_url 'inverted_logo.png' %>">

    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <style>
      <% if logged_in? %>
        .button.primary {
          background-color: #<%= current_user.unique.color %>;
          opacity: 0.9;
        }
        .button.primary:hover {
          background-color: #<%= current_user.unique.color %>;
          opacity: 1;
        }
        .bg-uniq {
          background-color: #<%= current_user.unique.color %>;
        }
        .text-uniq {
          color: #<%= current_user.unique.color %>;
        }
      <% end %>
    </style>

    <%= content_for?(:head) ? yield(:head) : nil %>

    <script>
      window.LocalTime.config.locale = '<%= I18n.locale %>';
    </script>
  </head>
  <body class="text-primary">
    <%= content_for?(:content) ? yield(:content) : yield %>

    <% if current_user.unique.character %>
      <%= link_to current_user.unique.character, uniq_path, class: "mr-3 mb-3 text-white font-mono text-xs font-black fixed bottom-0 right-0 bg-uniq rounded-full h-6 w-6 flex items-center justify-center shadow-lg", style: 'cursor:help;', 'aria-label': "Your unique letter/number-color combination is #{current_user.unique.character} and #{current_user.unique.color}" %>
    <% end %>
  </body>
</html>
