<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_url 'logo' %>">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="flex flex-col min-h-screen pb-4 justify-between">
    <div id="content" class="flex-grow flex flex-col"><%= content_for?(:content) ? yield(:content) : yield %></div>
    <footer class="text-center text-xs text-gray-500 mt-6">
      <span class="tracking-wide">
        <%= link_to name, root_path %> - 2020
      </span>
      <br />
      <span class="italic">
        Created by Anders Lemke-Holstein
      </span>
    </footer>
  </body>
</html>
