<!DOCTYPE html>
<html>
  <head>
    <title>Promise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content= "width=device-width, initial-scale=1.0"> 
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_url 'logo' %>">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
    <footer class="my-12 text-center text-sm text-gray-500">
      <span class="tracking-wide">
        With love and respect
      </span>
      <br />
      <span class="italic">
        Anders Lemke-Holstein
      </span>
    </footer>
  </body>
</html>
