<%= content_for :content do %>
  <%= render partial: 'navigation' %>
  <div class="pt-5 m-auto max-w-lg">
    <div class="m-auto w-6 mt-4 sm:mt-4 mb-8 sm:mb-10">
      <%= link_to image_tag('logo.png'), root_path, title: name %>
    </div>
    <div class="prose mb-12">
      <%= yield %>
    </div>
    <%= render partial: 'navigation' %>
  </div>
<% end %>

<%= render template: "layouts/application" %>
